<div class="my-10 sm:my-24 p-6 sm:text-center">
  <h1 class="text-6xl sm:text-8xl font-bold text-gray-600 dark:text-gray-200 pointer-events-none select-none" aria-hidden="true">
    Make you<span class="whitespace-nowrap"><span class="text-violet-600">r</span><span class="text-violet-100 absolute dark:text-violet-900 dark:opacity-60">e</span><span class="tracking-[0.33em]">&nbsp;</span><span class="text-violet-600">mark</span></span>
  </h1>

  <p class="max-w-2xl text-left mx-auto my-8 sm:mt-12 text-gray-500 dark:text-gray-400 text-2xl font-semibold">
    Tune into digital chatter at a human pace and human scale.
    Share tidbits of your day, a piece of your mind, or a thousand words with
    a photo.
  </p>


  <ul class="my-10 sm:my-20 flex flex-col sm:flex-row justify-center gap-2 sm:gap-6">
    <li>
      <a href="/feed" class="font-bold text-3xl text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">Feed</a>
    </li>
    <li>
      <a href="/blog" class="font-bold text-3xl text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">Blog</a>
    </li>
    <li>
      <a href="/sign_in" class="font-bold text-3xl text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">Sign-in</a>
    </li>
  </ul>
</div>
